# --- PI Cluster ---
Host pi-node-1
  Hostname 10.10.10.101
  user your_username
  IdentityFile ~/.ssh/id_ed25519

Host pi-node-2
  HostName 10.10.10.102
  user you_username
  IdentityFile ~/.ssh/id_ed25519

Host pi-node-3
  HostName 10.10.10.103
  user your_username
  IdentityFile ~/.ssh/id_ed25519

Host pi-node-4
  HostName 10.10.10.104
  user your_username
  IdentityFile ~/.ssh/id_ed25519
